[ARGUMENTS_OVER_WRITE]
--threads:0
log: new_log
--wdl:True
json_out: True
b:   new_bsub_queue
--copy: None
test:True
compress : none
--timestamp :  0.0
m :11
help :  False
--clean :False
move : None
--resources : ExampleScript.resource.config

[RESOURCES]
-z : reference

[SAMPLE_FILE]
--sample_name : 1
--file_one : 2
--file_two : 3

[PATH]
ENV_PATH: /some/tool
PYTHON_PATH: /python/path/
SCRIPT_PATH: /script/path

[COMMANDS]
PRECOMMANDS: 1. precommand
    2. precommand
POSTCOMMANDS: 1. postcommand
    2. postcommand

